.page-header-wrap {
    position: relative;
    padding-bottom: 15px;

    .container {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-flow: column nowrap;
        span {
            color: rgb(224, 216, 216);
            font-weight: 600;
            text-transform: uppercase;
        }
    }

    &::before {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 60px;
        width: 100%;
        background: #000;
        z-index: -1;
    }


    .logo-icon {
        position: absolute;
        top: calc(50% - 65px);
        left: calc(50% - 70px);
        height: 50px;

        &-svg {
            height: 100%;
            width: auto;
        }
    }

    .buttons-header-wrap {
        align-self: end;
        display: flex;
        flex-flow: row nowrap;
        gap: 2.5vw;
        // gap: 60px;
        align-items: center;

        .language {
            width: 30px;
            height: 20px;
            cursor: pointer;

            &.en {
                background: url("../../assets/language/usa.png");
            }

            &.ru {
                background: url("../../assets/language/russia.png");
            }

            &.en, &.ru {
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
        }

        .nav-favo {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            gap: 10px;
            padding: 5px;
            cursor: pointer;
            background: inherit;


            &-icon {
                width: 30px;

                path {
                    fill: rgb(224, 216, 216);
                }
            }
        }

        .page-header-auth {
            align-self: auto;
        }
    }

    .page-header-auth {
        align-self: end;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        height: 60px;
        background: inherit;
        cursor: pointer;
        margin-right: 20px;

        &-icon {
            width: 40px;
            margin-right: 10px;
            path {
                fill: rgb(224, 216, 216);
            }
        }

    }
}