.header-wrap {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    z-index: 1;

    .auth-button-wrap {
        display: flex;
        align-items: center;
        padding: 5px;
        font-size: 18px;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #fff;
        background: rgb(39, 37, 40);
        margin-top: 20px;
        margin-right: 20px;
        border-radius: 5px;
        cursor: pointer;
    }

    .language {
        width: 40px;
        height: 25px;
        cursor: pointer;
        margin-right: 30px;
        margin-top: 25px;

        &.en {
            background: url("../../../assets/usa.png");
        }

        &.ru {
            background: url("../../../assets/russia.png");
        }

        &.en, &.ru {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }
}