* {
  --background-color: rgb(218, 236, 236);
  --background-color-header: #cad4ec;
  --card-color: #fff;
  --primary-color1: #c4cbee;
  --primary-color2: #678091;
  --primary-color3: #384d58;
  --header-color: #111;
  --text-color: #9c9ea2;

  margin: 0;
  padding: 0;
  text-decoration: none;
  text-transform: none;
  outline: none;
  border: none;
  color: inherit;
  list-style-type: none;
  /* box-sizing: content-box; */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
